tr.table-row id="row_adjustment_#{el.id}"
  td = el.value_display
  td
    = link_to fa_icon("trash"), row_adjustment_path(el), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć?" }, class: "action-button red", title: "Usuń"