= render "stock_operations/page_headers/index"

= render "stock_operations/advanced_filters"

= render Tables::IndexTableComponent.new(list: @stock_operations, turbo_id: "stock-operations-table-body")