@import "base/colors.css.scss";

.versions-table-cont{
  border-radius: 8px;
  overflow-y: auto;
  border: 1px solid $main-line;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 50%;
  margin-top: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid $main-line;
    background-color: white;

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-left: 0;
      margin-right: auto;
    }

    .table-button {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
