@import "base/colors.css.scss";

.org-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .tile {
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: black;

    &:hover {
      background: white;
    }

    .icon {
      text-align: center;
      margin-bottom: 10px;
      font-size: 24px;
      color: black;
    }

    .title {
      margin-top: 0;
      font-size: 18px;
      padding-bottom: 10px;
    }
    
  }
}