@import "base/colors.css.scss";

.org-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .tile {
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: black;

    &:hover {
      background: white;
    }

    .icon {
      text-align: center;
      margin-bottom: 10px;
      font-size: 24px;
      color: black;
    }

    .title {
      margin-top: 0;
      font-size: 18px;
      padding-bottom: 10px;
    }
    
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;


  .section {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
    .header {
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 2px solid $main-line;
      padding-bottom: 2px;
    }

    .widgets-cont{
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

.info-widget {
  background-color: white;
  border: 1px solid $main-line;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  //flex: 1 1 calc(33.333% - 20px);
  //box-sizing: border-box;

  .header {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid $main-line;
    padding-bottom: 2px;
    margin-bottom: 15px;
  }

  .value {
    display: flex;

    .label {
      flex: 1;
      font-size: 14px;
      color: lighten($main-text-color, 20%);
      align-content: center;
    }

    .amount {
      font-size: 16px;
      font-weight: 600;
      margin-left: 20px;
      align-content: center;

      &.green {
        color: $green-4-color;
      }

      &.red {
        color: $red-danger-dark;
      }

      &.orange {
        color: $orange-base;
      }
    }
  }
}