@import "base/colors.css.scss";

.links{
  margin-left: 10px;
  font-size: 13px;
  .devise-link {
    color: $gray-400;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      color: $gray-500;
    }
  }
}