@import "base/colors.css.scss";

.show-container {
  background-color: white;
  border: 1px solid $main-line;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 15px;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
  }

  .info {
    display: grid;
    grid-template-columns: max-content 1fr; // label + wartość
    row-gap: 8px;
    column-gap: 15px;
    border-top: 1px solid $main-line;
    border-bottom: 1px solid $main-line;
    padding: 10px 0;

    .info-row {
      display: contents; // żeby elementy grid działały bez dodatkowego wrappera

      .info-label {
        font-weight: 600;
        color: #333;
        text-align: left;
        padding-right: 10px;
      }

      .info-value {
        color: #555;
        text-align: left;
      }
    }
  }


  .actions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}

.tabs {
  display: flex;
  gap: 10px;
  margin: 10px 0;

  .tab {
    padding: 6px 12px;
    border-radius: 6px;
    color: #444;
    text-decoration: none;
    border: 1px solid $main-line;

    i {
      margin-right: 6px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    &.active {
      background-color: $second-color;
      color: $first-color;
      border: none;
    }

    &:hover {
      background: lighten($second-color, 5%);
    }
  }
}

// "pusta" zakładka, taka która nie ma jeszcze zawartości, np dostawa przed jej utworzeniem
.empty-tab {
  padding: 20px;
  text-align: center;
  
  .text {
    font-size: 18px;
    margin-bottom: 12px;

    .subtext {
      font-size: 14px;
      color: #666;
      margin-top: 8px;
    }
  }
}