= left_menu_link(text: "Dashboard", url: dashboard_user_path(current_user), icon: "home", active: current_page?(dashboard_user_path(current_user)))
= left_menu_link(text: "Produkty", url: products_path, icon: Product.icon, active: current_page?(products_path))
= left_menu_link(text: "Użytkownicy", url: users_path, icon: User.icon, active: current_page?(users_path))