@import "base/colors.css.scss";

.base-button {
  background-color: $first-color;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: darken($first-color, 10%);
    color: white;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.action-button {
  background-color: $second-color;
  color: $first-color;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken($second-color, 10%);
    color: $first-color;
  }

  a {
    color: $first-color;
    text-decoration: none;

    &:hover {
      color: $first-color;
    }
  }

  &.yellow {
    background-color: lighten(#f1c40f, 20%);
    color: #856404;
    &:hover {
      background-color: darken(lighten(#f1c40f, 20%), 10%);
      color: #856404;
    }
  }

  &.red {
    background-color: lighten(#e74c3c, 30%);
    color: #721c24;
    &:hover {
      background-color: darken(lighten(#e74c3c, 30%), 10%);
      color: #721c24;
    }
  }
}