$green-0-color: #c3debe;
$green-1-color: #a2d8a6;
$green-2-color: #70cf95;
$green-3-color: #47b278;
$green-4-color: #008c59;

$beige-login-color: #eae5e1;
$beige-login-outline-color: #c0bdba;
$main-site-background-color: #eff0f4;
$main-content-background-color: #f2f3f6;
$text-grey: #767676;
$text-grey-darker: #626262;
$sunday-dark-blue: #091057;
$surface-light: #f8fafc;
$surface-dark: #1e293b;
$logo-black: #111827;

$orange-50:  #fff4df;
$orange-100: #ffcd90;
$orange-150: #ffb76b;

$orange-200: #ffa652;
$orange-250: #ff8d21;
$orange-base: #ff7b00; // (Base)

$orange-350: #e66f00; // Hover
$orange-400: #cc6200; // Active 
$orange-450: #994a00; 
$orange-500: #663100;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$red-danger-lite: #fcd0cf;
$red-danger-main: #dd3545;
$red-danger-dark: #9a172b;

$main-text-color: #000000;
$right-cont-bg: #F6F6F8;
$left-menu-bg: #ffffff;
$main-line: #E5E7EB;
$first-color: #135BEC;
$second-color: #D0DEFB;

$table-header-bg: #F9FAFB;