$green-0-color: #c3debe;
$green-1-color: #a2d8a6;
$green-2-color: #70cf95;
$green-3-color: #47b278;
$green-4-color: #008c59;

$beige-login-color: #eae5e1;
$beige-login-outline-color: #c0bdba;
$main-site-background-color: #eff0f4;
$main-content-background-color: #f2f3f6;
$text-grey: #767676;
$text-grey-darker: #626262;
$sunday-dark-blue: #091057;

$orange-0-color: #fff4df;
$orange-1-color: #ffcd90;
$orange-2-color: #ffb76b;
$orange-3-color: #ffa652;
$orange-4-color: #ff8d21;
$orange-5-color: #ff7b00;

$red-danger-lite: #fcd0cf;
$red-danger-main: #dd3545;
$red-danger-dark: #9a172b;
