@import "base/colors.css.scss";

.login-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-card{
    border: 1px solid grey;
    padding: 20px;
    border-radius: 8px;
  }
}

.main-form{
  form{
    .form-inputs{
      label, input{
        display: flex;
        width: 100%;
      }

      input{
        margin-bottom: 5px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
}