@import "base/colors.css.scss";

*{
  font-family: 'Euclid', sans-serif;
}

body{
  background-color: white
}

.hidden{
  display: none;
}

.flexbox {
  display: flex;
  gap: 8px;

  &.centered{
    align-items: center;
  }
}