.tabs 
  = render "shared/tab", text: "Informacje", path: client_path(@client, tab: "main"), active_tab: "main"
  = render "shared/tab", text: "Historia", path: client_path(@client, tab: "history"), active_tab: "history"