= render "product_categories/page_headers/index"

/ przełączanie widoków (scope) tabeli
= view_mode_switcher(@view_modes, ->(extra) { url_for(params.permit!.merge(extra)) })

= render "index_table", list: @product_categories, custom_turbo_id: "categories-table-body"