= render "product_categories/page_headers/index"

/ przełączanie widoków (scope) tabeli
= view_mode_switcher(@view_modes, ->(extra) { url_for(params.permit!.merge(extra)) })

= render "product_categories/turbo/table_turbo", list: @product_categories