= render Tables::IndexTableComponent.new(list: @products), custom_dir: "products/", title: "Produkty", button: { text: "Dodaj produkt", link: new_product_path(product_category_id: @product_category.id) })