@import "base/colors.css.scss";

#modal{
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-form-card {
    max-width: 90vv;
    max-height: 95vh;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    animation: scale-in-center 0.3s;

    .modal-form-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      color: black;
    }

    .close-link{
      text-decoration: none;
      color: $second-color;
      font-size: 16px;
      
      &:hover{
        color: $first-color;
      }
    }
  }
}