@import "base/colors.css.scss";

.page-header {
  margin-bottom: 20px;

  .breadcrumbs {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 4px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid $main-line;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .page-title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .advanced-filters-cont {
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 1px solid $main-line;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin-top: 5px;

    .grid{
      display: grid;
      //grid-template-columns: repeat(4, 1fr); -> for more filters
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      input, select{
        width: 100%;
      }

      .column {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
