.page-header {
  margin-bottom: 20px;

  .breadcrumbs {
    font-size: 13px;
    opacity: .7;
    margin-bottom: 4px;
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
      font-size: 24px;
      font-weight: 600;
    }

    .header-actions {
      button, a.btn {
        margin-left: 10px;
      }
    }
  }

  .header-filters {
    margin-top: 10px;
  }
}
