@import "base/colors.css.scss";

.page-header {
  margin-bottom: 20px;

  .breadcrumbs {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 4px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid $main-line;
    border-radius: 8px;
    padding: 12px 16px;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .right {
      display: flex;
    }

    .page-title {
      font-size: 24px;
      font-weight: 600;
    }

    .header-actions {
      button, a.btn {
        margin-left: 10px;
      }
    }
  }

  .header-filters {
    //margin-top: 10px;
  }
}
