@import "base/colors.css.scss";

.index-table-cont{
  border-radius: 8px;
  overflow-y: auto;
  border: 1px solid $main-line;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid $main-line;
    background-color: white;

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-left: 0;
      margin-right: auto;
    }

    .table-button {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.index-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: white;
  //border: 1px solid $main-line;

  thead {
    .table-header {
      background-color: $table-header-bg;
      color: lighten($main-text-color, 40%);
      text-transform: uppercase;
      font-weight: 600;

      th {
        padding: 12px 16px;
        text-align: left;
        border-bottom: 2px solid $main-line;
      }
    }
  }

  tbody {
    .table-row {
      td {
        padding: 10px 16px;
        border-bottom: 1px solid $main-line;
        vertical-align: middle;

        &.bold{
          font-weight: 600;
        }

        .bold {
          font-weight: 600;
        }

        .actions {
          display: flex;
          gap: 6px;
        }
      }

      &:nth-child(even of .table-row) {
        background-color: darken(white, 2%);

        &:hover {
          background-color: darken(white, 10%);
          transition: background-color 0.3s ease;
        }
      }

      &:hover {
        background-color: darken(white, 10%);
        transition: background-color 0.3s ease;
      }

      &.active-row {
        background-color: $second-color;
        color: $first-color;
        font-weight: 600;
      }

      &.nested-row {
        background-color: darken(white, 1%);
        border-left: 5px solid $main-line;

        &:hover {
          background-color: darken(white, 10%);
          transition: background-color 0.3s ease;
        }
      }
    }
  }
}

.pagination-cont {
  padding: 10px;
  background-color: white;
}

.page-entries-info {
  font-size: 12px;
  color: grey;
}

nav.pagination {
  //margin-bottom: 30px;

  span {
    margin: 0 5px;
    font-size: 18px;

    a {
      color: black;
      text-decoration: none;
    }

    &.current {
      color: black;
      font-weight: bold;
    }
  }
}

.view-switcher {
  display: inline-flex;
  gap: 2px;
  border-radius: 6px;
  background: #f4f4f4;
  border: 1px solid $main-line;
  padding: 4px;
  margin-bottom: 5px;

  .view-switcher-button {
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #444;
    font-size: 14px;

    &.active {
      background: $second-color;
      color: $first-color;
      font-weight: 600;
    }

    &:hover {
      background: lighten($second-color, 5%);
    }
  }
}
