@import "base/colors.css.scss";

.top-menu {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: #ffffffcc;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-sizing: border-box;
  border-bottom: 1px solid $gray-200;
  position: sticky;
  top: 0; 
  z-index: 30;
  transition: border-color 0.3s, background-color 0.3s;

  .top-menu-container{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .left{
      display: flex;
      width: 100%;
      .logo-section{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        padding-right: 40px;

        .logo-title {
          font-size: 1.5rem;
          font-weight: 400;
          color: $logo-black;
          letter-spacing: -0.025em;
        }
      }
    }

    .right{
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      .action-section{
        margin: 0 25px;
      }

      .links{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 25px;
        
        a{
          height: 25px;
          display: inline-flex;
          align-items: center;
          padding: 0.25rem 0.25rem 0;
          border-bottom: 2px solid transparent;
          font-size: 0.875rem;
          font-weight: 300;
          color: $gray-500;
          text-decoration: none;
          transition: color 0.2s, border-color 0.2s;
          width: max-content;
          &:hover {
            color: $gray-700;
            border-bottom-color: $gray-300;
          }

          &.active {
            border-bottom-color: $orange-base;
            color: $gray-900;
          }
        }
      }
    }
  }
}