/ locals:
/ list: lista obiektów
/ custom_dir: opcjonalnie folder z partialami (default: obecna lokalizacja)
/ no_pages: brak paginacji (default: false)
/ title: tytuł tabeli
/ button: { text: "...", link: _path, class: "...", data_attrs: {...} }
/ custom_turbo_id: nazwa/id turbo_frame (opcjonalnie)

- custom_dir = local_assigns.fetch(:custom_dir, "")
- no_pages = local_assigns.fetch(:no_pages, false)
- title = local_assigns.fetch(:title, "")
- button = local_assigns.fetch(:button, nil)
- custom_turbo_id = local_assigns.fetch(:custom_turbo_id, nil)

.index-table-cont#index-table-cont
  - if title.present? || button
    .header
      .title = title unless title.blank?
      .table-button = link_to button[:text] || "Dodaj nowy", button[:link], class: button[:class] || "base-button", data: button[:data_attrs] || {} unless button.nil?

  = render "table", list: list, custom_dir: custom_dir, no_pages: no_pages, custom_turbo_id: custom_turbo_id