= render Calculations::CalculationTableComponent.new(calculation: @current_calculation, turbo_id: "calculation-rows-table-body", custom_dir: "orders/calculation/")

= render "calculations/versions_table", object: @order